
body{
	background-color: #000000;
	width:100%;
	font-family: Times;
}
nav{
	text-transform: uppercase;
	font-family: Times;
	font-size: 20px;
	color: #FFFFFF;
	background-color: #DC143C;
	margin: left;
	width: 99%;
	height:40px;
	text-align: center;
	clear: both;
}	

#titulo{
	width: 100%;
	text-align:center;
}

.login{
	float: right;
}

h1{
	font-family: Times;
	color: #DC143C;
	padding:10px;
	position: absolute;
	top: 0%;
	left: 45%;
	font-size: 30px;
}
li{
	display: inline;
    margin-right: 20px;
	padding:20px;
}
p{
	font-family: Times;
	color:#FFFFFF;
	margin-left: 200px;
	width: 75%;
	min-height: 200px;
	font-size: 16px;
	
}
.aa img{
	float:left;
	width: 180px;
	clear: left;
	padding: 10px;
}

h2{
	text-transform: uppercase;
	font-family: Times;
	color: #DC143C;
	padding: 10px;
	margin-left: 200px;
}
main {
	width: 85%;
	float: left;
}

aside {
	float: right;
	margin-right: 0%;
	width: 15%;
	margin-top: 150px;
	
}
a{
	text-decoration: none;
}
a:link{
	color: white;
	text-decoration: none;
}
a:visited{
	color: white;
}

a:hover{
	color: black;
	text-decoration: none;
}

footer{
	color: white;
	font-family: Times;
	font-size : 20px;
	text-align: center;
	background-color: #DC143C;
}
.clear{
	clear: both;
}



form{
	font-family: Times;
	color: #DC143C;
}